# Compiled C binaries
emp
emp2
mallocprogram
struct
circularqueue
circularqueue_refactored
brackets
postfix
shutdown
*.o
*.out
*
!*.*
!*/

# System files
.DS_Store

# IDE settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/
